/******* VARS *******/

/* ***** DEFAULTS ***** */

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: 0;
    margin-top: 56px;
    padding-bottom: 80px;
    background-color: #F9F9F9;
}

.main-content {
    background-color: #F9F9F9;
}

i, span {
    color: #707070;
}


:root {
    --aspect-ratio-width: 16;
    --aspect-ratio-height: 9;
    --nav-height: 56px;
    --margin: 24px;
    --space-below-player: 136px;
    --min-height: 240px;
    --max-height: calc( 
        100vh - 
        (var(--nav-height) + var(--margin) + var(--space-below-player))
     );
    
    --min-width: calc( 
        var(--min-height) * 
        (var(--aspect-ratio-width) / var(--aspect-ratio-height)) 
     );
    
    --max-width: calc( var(--max-height) * (var(--aspect-ratio-width) / var(--aspect-ratio-height)));

}


/* ***** NAV BAR ***** */

/** 
  * First Element of the nav-bar
  *
  *
  */


.nav-bar {
    
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    min-width: 100vh;
    width: 100%;
    max-height: 56px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.985);
    z-index: 99;
}

.nav-bar i {
    color: #606060;
}

/** 
  * First Element of the nav-bar
  *
  *
  */

.nav-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-sec.nav-sec-1 {
    padding-left: 20px;
}

.yt-menu-bar {
    text-decoration: none;
    color: #606060;
    font-size: 18px;
}

.fa-bars {
    padding:  10px;
}

.yt-logo {
    max-width: 100px;
    padding: 18px 15px 15px 15px;
}

/** 
  * Second Element of the nav-bar
  *
  *
  */

.nav-sec .nav-sec-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.nav-sec.nav-sec-2 {
    min-width: 220px;
    width: 100%;
    max-width: 657px;
}

.yt-search-bar {
    min-width: 22px;
    width: 100%;
    height: 30px;
    margin: 0 0 0 30px !important;
    padding: 0px 15px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 16px;
}

.keyboard-icons {
    width: 0;
}

.keyboard-icons > i {
    display: block;
    color: #808080;
    position: relative;
    left: -28px;
}

.keyboard-icons:hover > i {
    color: black;
}

.vid-search-box {
    display: block;
    background-color: #f0f0f0;
    min-width: 8vh;
    max-width: 65px;
    height: 30px;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.vid-search-box a {
    text-decoration: none;
}

.vid-search-box a > i {
    display: block;
    color: #606060;
    margin: calc(15px/2) auto;
    max-width: 15px;
    max-height: 15px;
}

.voice-search-Icon a {
    text-decoration: none;
}

.voice-search-Icon a > i {
    display: block;
    margin: calc(15px/2) auto;
    max-width: 15px;
    max-height: 15px;
    padding: 0 15px;
}



/* 
 *
 * Third Section of Nav Bar
 *
 */


.nav-sec.nav-sec-3 {
    min-width: 225px;
    margin-right: 20px;
}

.blank-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-right-links {
    padding: 16px 0;
    margin: 0;
    padding-left: 20px;
}

.nav-right-links.profile-link {
    padding-left: 40px;
}

.nav-right-links.icons {
    color: gray;
}

.nav-hidden {
    display : none;
}

/******* MAIN SECTION ********/

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/****** FIRST COLUMN ********/
.first-column {
    display: flex;
    min-width: var(--min-width);
    width: var(--max-width);
    max-width: 1280px;
    min-height: var(--min-height);
    height: var(--max-height);
    max-height: 720px;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 0 24px;
    padding: 24px 24px 0 0;
}

/****** EMBED ******/

.embed-video iframe {
    min-height: var(--min-height);
    height: var(--max-height);
    max-height: 720px;
    min-width: var(--min-width);
    width: var(--max-width);
    max-width: 1280px;
}
/****** VIDEO DESCRIPTION ******/
.video-description {
    display: block;
    padding: 20px 0px 8px;
}

.video-description-tags {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.video-description-tags a {
    text-decoration: none;
    font-size: 0.9em;
    color: blue;
    padding-right: 5px;
}

.video-description-title {
    display: flex;
    flex-direction: row;
}

.video-description-title h1{
    font-size: 1.28em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.video-description-views-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vid-description-first-item ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 0.9em;
    color: #707070;
    padding: 0;
}

.flex-box-second-items .icon{
    align-items: center;
}
.vid-description-second-item .icon {
    text-decoration: none;
    padding: 0;
    
}

.vid-description-second-item a {
    text-decoration: none;
    padding-right: 6px;
    margin-bottom: 12px;
}

.vid-description-second-item i {
    color: #909090;
    font-size: 1.5em;
    padding: 6px;
}

.vid-description-second-item span {
    font-size: 14px;
    color: #606060;
    font-weight: 570;
}

.li-dot::before {
    content: "•";
    margin: 0 4px;
}

.underline-effect {
    position: relative;
    left:0;
    height: 2px;
    width: 100%;
    max-width: 147px;
    margin: 0;
    margin-top: 15px;
    background-color: #ccc;
}

.underline-effect-above {
    height: inherit;
    width: 98.9%;
    background-color: #909090;
}

/******* CHANNEL INFO *******/

.channel-info {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin: 0 0 24px;
}

.channel-owner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.owner-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0 15px 0 5px;
}

.channel-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.channel-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.subscribers-number {
    margin: 0;
    color: gray;
    font-size: 0.78em;
}

.subscribe-btn button {
    display: inline-block;
    background-color: #c00;
    border: none;
    min-width: 130px;
    padding: 10px 10px;
    margin: 0 7px 0 2px;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
}

.subscribe-btn span {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
    font-weight: 1500px;
}

.more-info {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    padding: 0 0 16px;
}

.spotify-link {
text-decoration: none;
}

.spotify-link span {
    color: #4343ff;
}

.spotify-link, .more-info > span {
    line-height: 1.32em;
}

.show-more-link {
    font-size: 13px;
    color: #606060;
    text-decoration: none;
    margin: 15px 0px 0px;
}

/******* COMMENTARY SECTION *******/
.commentary-section {
    width: var(--max-width);
}

.add-commentary {
    display: block;
    margin: 24px 0 32px;
}

.add-commentary .title-commentary-header ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 0 24px;
    padding: 0;
    list-style-type: none;
}

.add-commentary .commentary-header-icon {
    padding: 0 5px 0 24px;
}

.add-commentary .add-commentary-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.commentary-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.add-commentary-input .commentary-input {
    height: 24px;
    width: 100%;
    padding: 0 0 4px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #bbb;
}

/* FIXED COMENTARY STYLING*/

.new-commentary-fixed {
    display: block;
    margin-bottom: 20px;
}


/* Fixed Style for the commentary flex row */

.commentary-space {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Fixed Style for the commentary flex column */

.commentary-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commentary-column > span{
    color: black;
    font-size: 14px;
    line-height: 1.4em;
}

/* color of time links */

.commentary-column span > a {
    text-decoration: none;
    color: #4343ff;
    padding-right: 8px;
}

/** thumbtack row **/

.commentary-column .fixed-by{
    font-size: 12px;
    margin: 0 0 15px;
}

.commentary-column .fixed-by span{
    color: #909090;
    font-size: 12px;
    font-weight: 500;
}

/* commentary fixed from owner styles */

.commentary-column .commentary-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 6px;
}

.commentary-column .commentary-name a {
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
    padding-left: 3px;
}


.commentary-name .fixed-commentary-name span {
    background-color: #808080;
    padding: 2px 6px;
    font-size: 13px;
    color: white;
    font-weight: 600px;
    border-radius: 12px;
}


/* DEFAULT COMMENTS STYLES */

/* STYLES FOR COMENT SECTION */

.generic-commentary {
    display: block;
    margin-bottom: 20px;
}

.main-generic-commentary-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 4px;
}

.generic-commentary-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.generic-commentary-column > span{
    color: black;
    font-size: 14px;
    line-height: 1.4em;
}

.generic-commentary-column span > a {
    text-decoration: none;
    color: #4343ff;
    padding-right: 8px;
}

/* OK !!! */

.generic-commentary-header {
    padding-bottom: 3px;
}

.generic-commentary-header > a {
    text-decoration: none;
}

.generic-commentary-header .user-name {
    font-size: 13px;
    color: black;
}

.generic-commentary-header a > span {
    font-size: 12px;
    color: #707070;
    
}

/* ^ */


/* STYLES FOR READ MORE DEFAULT */

.read-more {
    text-decoration: none;
    font-weight: 500;
    padding-top: 8px;
}

.read-more:hover {
    text-decoration: underline;
    color:#707070;
}



/**** LIKES ROW DEFAULT ****/

.likes-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
}

.likes-row i{
    font-size: 18px;
    color: #808080;
    padding-right: 10px;
}

.likes-row span {
    font-size: 12px;
    color: #808080;
    padding-right: 20px;;
}

.likes-row a {
    text-decoration: none;
}

.likes-row-answer {
    padding-left: 10px;
}


/* SHOW MORE ANSWERS */

.more-answers {
    margin-left: 56px;
    margin-top: 15px;
    font-size: 14px;
}

.more-answers a {
    text-decoration: none;
}

.more-answers a > i {
    color: #4343ff;
}

.more-answers span {
    color: #4343ff;
    padding-left: 10px;
}




/****** SECOND COLUMN *******/

.responsible-preview {
    display: none;
}


.second-column {
    display: flex;
    min-width: 300px;
    width: 100%;
    max-width: 402px;
    padding: 24px 24px 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/******* TAGS-HEADER *******/

.tags-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}


.tags-header div {
    background-color: #E0E0E0;
    padding: 0px 12px;
    margin: 0px 8px 0px 0px;
    max-height: 32px;
    border: 1px solid #bbb;
    border-radius: 16px;
}
.tags-header .first-tag {
    background-color: #000000;
    padding: 0px 12px;
    margin: 0px 8px 0px 0px;
    max-height: 32px;
    border: 1px solid black;
    border-radius: 16px;
    
}
.tags-header .first-tag > span {
    display: block;
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding: calc(11px/2) 0px;
}

.tags-header span {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding: calc(11px/2) 0px;
}

.tags-header i {
    margin-left: 25px;
    font-size: 14px;
    
}

/******* DEFAULTS FOR VIDEO PREVIEW *****/

.video-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    margin-top: 10px;
    max-height: 98px;
}

/* IMG PREVIEW STYLES */

.img-preview {
    text-decoration: none;
}

.img-preview img {
    width: 168px;
    height: 94px;
}

.img-preview .normal {
    display: block;
}

.img-preview .hover {
    display: none;
}

.img-preview:hover .normal{
    display: none;
}

.img-preview:hover .hover {
    display: block;
}

.img-preview:hover  .time-lenght{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.img-preview:hover .watch-later {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.img-preview:hover .add-playlist {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.img-preview:hover .play-button {
    opacity: 0.7;
    transition: opacity 0.5s ease-in;
}

/* TIME-LENGHT STYLES */

.time-lenght.less-than-1hour {
    --time0to1hour-maxwidth: 32px;  
    background-color: black;
    position: relative;
    bottom: 25px;
    right: -120px;
    margin: 4px;
    height: 12px;
    max-width: var(--time0to1hour-maxwidth);
    padding: 3px 4px;
    border-radius: 2px;
}

.time-lenght.more-than-1hour {
    --time1to9hours-maxwidth: 42px;
    background-color: black;
    position: relative;
    bottom: 25px;
    right: -111px;
    margin: 4px;
    height: 12px;
    max-width: var(--time1to9hours-maxwidth);
    padding: 3px 4px;
    border-radius: 2px;
}

.time-lenght > span {
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 500;
}


/* Watch Later */

.watch-later {
    display: block;
    background-color: black;
    font-size: 18px;
    position: relative;
    bottom: 116px;
    right: -134px;
    margin: 4px;
    padding: 3px 4px;
    border-radius: 2px;
    height: 20px;
    width: 18px;
    opacity: 0;
}

.watch-later i {
    color: white
}

/* add playlist */

.add-playlist {
    display: block;
    background-color: black;
    font-size: 18px;
    position: relative;
    bottom: 116px;
    right: -134px;
    margin: 4px;
    padding: 3px 4px;
    border-radius: 2px;
    height: 20px;
    width: 18px;
    opacity: 0;
}

.add-playlist i {
    color: white
}

/* play button */ 

.play-button {
    display: block;
    background-color: transparent;
    font-size: 28px;
    position: relative;
    bottom: 146px;
    left: 67px;
    margin: 4px;
    padding: 3px 4px;
    border-radius: 2px;
    height: 30px;
    width: 26px;
    opacity: 0;
}

.play-button i {
    color: white
}

/* video description preview */

.video-description-preview {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
}

.video-title-preview {
    color: #393939;
    font-size: 14px;
    font-weight: 550;
    max-width: 202px;
    margin: 0;
    margin-bottom: 8px;
}

.video-owner-preview {
    color: #606060;
    font-size: 12px;
    margin-bottom: 4px;
}

.video-description-preview > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 12px;
    height: 20px;
}

.video-description-preview > ul li {
    margin: 0;
}
/* ******** MEDIA ******** */

@media (max-width: 1016px) {
    .first-column {
        width: 100%;
        max-width: 100%;
    }

    .embed-video iframe {
        display: block;
        margin: 0 auto;
    }

    .responsible-preview {
        display: flex;
        min-width: 380px;
        max-width: 952px;
        padding: 24px 24px 0 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
    }

    .video-title-preview {
        max-width: 100%;
    }

    .add-commentary-input .commentary-input {
        height: 24px;
        min-width: 380px;
        max-width: 952px;
        width: 100%;
        padding: 0 0 4px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #bbb;
    }

    .second-column {
        display: none;
    }
}

@media (max-width: 675px) {
    .add-commentary-input .commentary-input {
        height: 24px;
        min-width: 380px;
        max-width: 500px;
        width: 100%;
        padding: 0 0 4px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #bbb;
    }
}

@media only screen and (max-width: 656px) {
    /** NAV BAR **/
    .nav-sec-2 {
        display: none;
    }

    .nav-sec-3 {
        color: black;
        font-size: 20px;
    }

    .nav-hidden {
        display : block;
        padding-left : 20px;
    }

    
    .video-description-tags {
        font-size: 14px;
    }
    .vid-description-first-item {
        display: none;
    }

    .vid-description-second-item a {
        text-decoration: none;
        padding-right: 6px;
        margin-bottom: 12px;
    }
    
    .vid-description-second-item i {
        color: #909090;
        font-size: 1.4em;
        padding: 6px;
        padding-top: 10px;
    }
    
    .vid-description-second-item span {
        font-size: 12px;
        color: #606060;
        font-weight: 570;
    }

    @media (min-height: 518px) {

        /****** FIRST COLUMN ********/
        .first-column {
            display: flex;
            min-width: var(--min-width);
            width: var(--max-width);
            max-width: 1280px;
            height: 100%;
            max-height: 4000px;
            flex-direction: column;
            justify-content: start;
            margin: 0 0 0 24px;
            padding: 24px 24px 0 0;
        }

        /****** EMBED ******/

        .embed-video iframe {
            min-height: var(--min-height);
            height: var(--max-height);
            max-height: 300px;
            min-width: var(--min-width);
            width: var(--max-width);
            max-width: 533px;
        }
    }
}

