/******* VARS *******/

/* ***** DEFAULTS ***** */

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: 0;
    margin-top: 56px;
    background-color: #F9F9F9;
}

i, span {
    color: #707070;
}

/* ***** NAV BAR ***** */

/** 
  * First Element of the nav-bar
  *
  *
  */

.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    padding: 0px 20px;
    width: calc(100% - 60px);
    max-height: 56px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.985);
}

.nav-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.yt-menu-bar {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.fa-bars {
    padding:  10px;
}

.yt-logo {
    max-width: 100px;
    padding: 18px 15px 15px 15px;
}

/** 
  * Second Element of the nav-bar
  *
  *
  */

.nav-sec .nav-sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 53vw;
    height: 40px;
    margin: 0;
}
.yt-search-bar {
    min-width: 15vw;
    width: 39vw;
    height: 24px;
    margin: 0!important;
    padding: 0px 15px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.keyboard-icons {
    width: 0;
}

.keyboard-icons > i {
    display: block;
    color: gray;
    position: relative;
    left: -28px;
}

.keyboard-icons:hover > i {
    color: black;
}

.vid-search-box {
    display: block;
    background-color: #f0f0f0;
    width: 8vh;
    height: 24px;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.magnifying-glass {
    display: block;
    margin: 5px auto;
    max-width: 15px;
    max-height: 15px;
}

.voice-icon {
    display: block;
    margin: 0;
    padding: 0 15px;
    width: 20px;
    height: 20px;
}

/* 
 *
 * Third Section of Nav Bar
 *
 */

.blank-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-right-links {
    padding: 16px 0;
    margin: 0;
    padding-left: 20px;
}

.nav-right-links.profile-link {
    padding-left: 40px;
}

.nav-right-links.icons {
    color: gray;
}

/******* MAIN SECTION ********/

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: calc(1280px + 402px + (3*24px));
}

/****** FIRST COLUMN ********/
.first-column {
    --max-width: calc((100vh - 236px) * (16/9));
    --min-width: calc(240px * (16/9));
    display: flex;
    min-width: var(--min-width);
    width: var(--max-width);
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 24px;
    padding: 24px 24px 0 0;
}

/****** EMBED ******/

.embed-video iframe {
    min-height: 240px;
    height: calc((var(--max-width))*(9/16));
    width: var(--max-width);
}
/****** VIDEO DESCRIPTION ******/
.video-description {
    display: block;
    padding: 20px 0px 8px;
}

.video-description-tags {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.video-description-tags a {
    text-decoration: none;
    font-size: 0.9em;
    color: blue;
    padding-right: 5px;
}

.video-description-title {
    display: flex;
    flex-direction: row;
}

.video-description-title h1{
    font-size: 1.28em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.video-description-views-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vid-description-first-item ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 0.9em;
    color: #707070;
    padding: 0;
}

.flex-box-second-items .icon{
    align-items: center;
}
.vid-description-second-item .icon {
    text-decoration: none;
    padding: 0;
    
}

.vid-description-second-item a {
    text-decoration: none;
    padding-right: 6px;
    margin-bottom: 12px;
}

.vid-description-second-item i {
    color: #909090;
    font-size: 1.5em;
    padding: 6px;
}

.vid-description-second-item span {
    font-size: 14px;
    color: #606060;
    font-weight: 570;
}

.li-dot::before {
    content: "•";
    margin: 0 4px;
}

.underline-effect {
    position: relative;
    left:0;
    height: 2px;
    width: 100%;
    max-width: 147px;
    margin: 0;
    margin-top: 15px;
    background-color: #ccc;
}

.underline-effect-above {
    height: inherit;
    width: 98.9%;
    background-color: #909090;
}

/******* CHANNEL INFO *******/

.channel-info {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin: 0 0 24px;
}

.channel-owner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.owner-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0 15px 0 5px;
}

.channel-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.channel-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.subscribers-number {
    margin: 0;
    color: gray;
    font-size: 0.78em;
}

.subscribe-btn button {
    display: inline-block;
    background-color: #c00;
    border: none;
    min-width: 130px;
    padding: 10px 10px;
    margin: 0 7px 0 2px;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
}

.subscribe-btn span {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
    font-weight: 1500px;
}

.more-info {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    padding: 0 0 16px;
}

.spotify-link {
text-decoration: none;
}

.spotify-link span {
    color: #4343ff;
}

.spotify-link, .more-info > span {
    line-height: 1.32em;
}

.show-more-link {
    font-size: 13px;
    color: #606060;
    text-decoration: none;
    margin: 15px 0px 0px;
}

/******* COMMENTARY SECTION *******/
.commentary-section {
    width: var(--max-width);
}

.add-commentary {
    display: block;
    margin: 24px 0 32px;
}

.add-commentary .title-commentary-header ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 0 24px;
    padding: 0;
    list-style-type: none;
}

.add-commentary .commentary-header-icon {
    padding: 0 5px 0 24px;
}

.add-commentary .add-commentary-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.commentary-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.add-commentary-input .commentary-input {
    height: 24px;
    width: 100%;
    padding: 0 0 4px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #bbb;
}

/* FIXED COMENTARY STYLING*/

.new-commentary-fixed {
    display: block;
    margin-bottom: 20px;
}


/* Fixed Style for the commentary flex row */

.commentary-space {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Fixed Style for the commentary flex column */

.commentary-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commentary-column > span{
    color: black;
    font-size: 14px;
    line-height: 1.4em;
}

/* color of time links */

.commentary-column span > a {
    text-decoration: none;
    color: #4343ff;
    padding-right: 8px;
}

/** thumbtack row **/

.commentary-column .fixed-by{
    font-size: 12px;
    margin: 0 0 15px;
}

.commentary-column .fixed-by span{
    color: #909090;
    font-size: 12px;
    font-weight: 500;
}

/* commentary fixed from owner styles */

.commentary-column .commentary-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 6px;
}

.commentary-column .commentary-name a {
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
    padding-left: 3px;
}


.commentary-name .fixed-commentary-name span {
    background-color: #808080;
    padding: 2px 6px;
    font-size: 13px;
    color: white;
    font-weight: 600px;
    border-radius: 12px;
}


/* DEFAULT COMMENTS STYLES */

/* STYLES FOR COMENT SECTION */

.generic-commentary {
    display: block;
    margin-bottom: 20px;
}

.main-generic-commentary-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 4px;
}

.generic-commentary-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.generic-commentary-column > span{
    color: black;
    font-size: 14px;
    line-height: 1.4em;
}

.generic-commentary-column span > a {
    text-decoration: none;
    color: #4343ff;
    padding-right: 8px;
}

/* OK !!! */

.generic-commentary-header {
    padding-bottom: 3px;
}

.generic-commentary-header > a {
    text-decoration: none;
}

.generic-commentary-header .user-name {
    font-size: 13px;
    color: black;
}

.generic-commentary-header a > span {
    font-size: 12px;
    color: #707070;
    
}

/* ^ */


/* STYLES FOR READ MORE DEFAULT */

.read-more {
    text-decoration: none;
    font-weight: 500;
    padding-top: 8px;
}

.read-more:hover {
    text-decoration: underline;
    color:#707070;
}



/**** LIKES ROW DEFAULT ****/

.likes-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
}

.likes-row i{
    font-size: 18px;
    color: #808080;
    padding-right: 10px;
}

.likes-row span {
    font-size: 12px;
    color: #808080;
    padding-right: 20px;;
}

.likes-row a {
    text-decoration: none;
}

.likes-row-answer {
    padding-left: 10px;
}


/* SHOW MORE ANSWERS */

.more-answers {
    margin-left: 56px;
    margin-top: 15px;
    font-size: 14px;
}

.more-answers a {
    text-decoration: none;
}

.more-answers a > i {
    color: #4343ff;
}

.more-answers span {
    color: #4343ff;
    padding-left: 10px;
}




/****** SECOND COLUMN *******/
.second-column {
    display: flex;
    min-width: 300px;
    max-width: 402px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* ******** MEDIA ******** */

@media (max-width: 1050px) {
    
}
